.date-field {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.date-field .date-section {
  display: flex;
  align-items: center;
}
.date-field .date-section .date-item {
  margin-right: 14px;
}
.date-field .date-section .date-item .date-text {
  font-size: 16px;
  font-weight: 600;
  margin-right: 6px;
  color: #333333;
}
.date-field .date-section .date-item .sub-text {
  font-size: 12px;
  color: #666666;
  width: 100%;
}
.date-field .date-section .separator {
  margin-right: 6px;
  color: #cccccc;
}
.date-field .duration-section {
  display: flex;
  align-items: center;
}
.date-field .duration-section .duration-text {
  font-size: 14px;
  color: #333333;
}
