.guest-field {
  justify-content: space-between;
  width: 100%;
}
.guest-field .custom-text {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
}
.guest-field .custom-text.placeholder {
  color: #cccccc;
  font-weight: normal;
}
.guest-field .guest-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.guest-field .guest-content .guest-info {
  display: flex;
  align-items: center;
  flex: 1;
}
.guest-field .guest-content .guest-info .info-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 4px;
}
.guest-field .guest-content .price-info {
  display: flex;
  align-items: center;
  flex: 1;
}
.guest-field .guest-content .price-info .divider {
  height: 16px;
  width: 1px;
  background: #eee;
  margin: 0 14px;
}
.guest-field .guest-content .price-info .price-text {
  font-size: 14px;
  color: #cccccc;
}
